My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fa59dd8a-6d95-4f96-86dd-9b7ea96e2e58",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "subreddit": "slack",
        "keyword": " Why I stopped using",
        "limit": 10,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "64abc665-2e99-4bc4-8360-4ca6f3734104",
      "name": "Reddit",
      "credentials": {
        "redditOAuth2Api": {
          "id": "VuZ6XM4vXWsTf2ke",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "706aeb16-79e1-49e5-884f-877da1a79859",
              "leftValue": "={{ $json.ups }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "261f7b0b-faf8-4ff9-a150-39be9fbd3a1e",
              "leftValue": "={{ $json.selftext }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "791b8c5a-0a30-4498-bdca-07360180ef70",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee989dd1-8213-4081-b646-b5c5d11075f1",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "1eb3d787-7316-4c93-b52c-a61715cb8e2b",
              "name": "selftext",
              "value": "={{ $json.selftext }}",
              "type": "string"
            },
            {
              "id": "e1d491e3-b019-4689-98a0-cde80c1cae71",
              "name": "ups",
              "value": "={{ $json.ups }}",
              "type": "number"
            },
            {
              "id": "2c76d996-f107-4d1f-8bc8-f5946aba96d6",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "9c3e8acc-0bed-4778-b4e1-0a062a38d7f6",
              "name": "created_utc",
              "value": "={{ $json.created_utc }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        -100
      ],
      "id": "6a85f59e-605a-4e5f-ac20-f38c7f8123d1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        980,
        220
      ],
      "id": "aed65c57-d4c0-401b-8c4c-25f0e7a8bc50",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "AEeNMg4vsYwHvb7r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Define wheather the reddit post is talking about the problems faced by the users of slack or they need a solution on how they want new features in slack. The post should mention specific problem faced by the users\n\nReddit post: {{$json.originalPost }} \n\nIs this post is about a problem that users are facing about Slack or they need new fea tures, Just answer with Yes or No.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        980,
        0
      ],
      "id": "a576098c-c18f-421e-94e5-19740d920d8b",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1580,
        -60
      ],
      "id": "b4969a51-f16b-4298-a78c-1f2868b096fe",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ffe0ca2-7702-41ed-bba3-8ad0dc313060",
              "leftValue": "={{$json.output}}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1860,
        -40
      ],
      "id": "864fa43c-592f-4695-b4c4-67052a0fd671",
      "name": "If1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2100,
        80
      ],
      "id": "f154364d-548a-44f3-9bbe-37a024e52d45",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "AEeNMg4vsYwHvb7r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on the reddit post, suggest a plan or a solution on how i fix the issues the users are facing with Slack.\nReddit Post: {{$json.output}}\nProvide a concise solution on how we can fix the problems in slack based on the reddit post . "
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2080,
        -220
      ],
      "id": "f67f77fc-70b4-401f-980f-924e635f6b87",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2460,
        60
      ],
      "id": "7650857e-bc6c-486f-8169-cd3b719139d9",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1deHEhCaUUC6d0d7ZMTsC_v0SwKCxkT0gMk9CtYOR5Ig",
          "mode": "list",
          "cachedResultName": "slack problems ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1deHEhCaUUC6d0d7ZMTsC_v0SwKCxkT0gMk9CtYOR5Ig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1deHEhCaUUC6d0d7ZMTsC_v0SwKCxkT0gMk9CtYOR5Ig/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "Original problem": "={{ $json.selftext }}",
            "Creation Date ": "={{ $json.created_utc }}",
            "Upvotes": "={{ $json.ups }}",
            "URL": "={{ $json.url }}",
            "Solution": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Original problem",
              "displayName": "Original problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Creation Date ",
              "displayName": "Creation Date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Upvotes",
              "displayName": "Upvotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Solution",
              "displayName": "Solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2680,
        60
      ],
      "id": "9ef75be9-6c8a-42f8-a9d3-4f379727bf60",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o5JPw9d7Id9lwrhd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "Scraping Reddit to figure out problems ",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        -100
      ],
      "id": "1fd9961d-87f3-4520-8634-b9d89be38545",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Using Gemini for quick analysis ",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        360
      ],
      "id": "1cc9577a-2947-4805-b715-d87090b89c68",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Exporting data to Google Sheets ",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2640,
        220
      ],
      "id": "528aedae-ff38-4f4a-a381-bfcb7fa1845c",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Reddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        []
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "24e0d800-3448-4af3-8d2c-cc9136bf9941",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef1863fd6b9cf4c4b95cf75ec81f52b55a662058bff5608b0f901f765342167f"
  },
  "id": "e9GBNa1CIhriytZ0",
  "tags": []
}